# Nutritional Facts for most common foods
Source: https://www.kaggle.com/datasets/niharika41298/nutrition-details-for-most-common-foods  
(this is the larger dataset)

### Questions
1. What

In [2]:
import pandas as pd
# create dataframe
nutrition = pd.read_csv("nutrition.csv")
# display a preview
nutrition.head()

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g
3,3,"Teff, uncooked",100 g,367,2.4g,0.4g,0,12.00 mg,13.1 mg,0,...,2.38 g,0.449 g,0.589 g,1.071 g,0,0,2.37 g,0,0,8.82 g
4,4,"Sherbet, orange",100 g,144,2g,1.2g,1mg,46.00 mg,7.7 mg,4.00 mcg,...,2.00 g,1.160 g,0.530 g,0.080 g,1.00 mg,0.0 g,0.40 g,0.00 mg,0.00 mg,66.10 g

In [3]:
# print the number of cols, rows
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\nThere are " + str(nutrition.shape[1]) + " columns and " + str(nutrition.shape[0]) + " rows.\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
There are 77 columns and 8789 rows.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [4]:
# basic statistics for the numerical columns
nutrition.describe()

        Unnamed: 0     calories  lucopene
count  8789.000000  8789.000000    8789.0
mean   4394.000000   226.283878       0.0
std    2537.310091   169.862001       0.0
min       0.000000     0.000000       0.0
25%    2197.000000    91.000000       0.0
50%    4394.000000   191.000000       0.0
75%    6591.000000   337.000000       0.0
max    8788.000000   902.000000       0.0

In [5]:
# show the data types
nutrition.dtypes

Unnamed: 0       int64
name            object
serving_size    object
calories         int64
total_fat       object
                 ...
alcohol         object
ash             object
caffeine        object
theobromine     object
water           object
Length: 77, dtype: object

In [7]:
# print all the column names
nutrition.columns

Index(['Unnamed: 0', 'name', 'serving_size', 'calories', 'total_fat',
       'saturated_fat', 'cholesterol', 'sodium', 'choline', 'folate',
       'folic_acid', 'niacin', 'pantothenic_acid', 'riboflavin', 'thiamin',
       'vitamin_a', 'vitamin_a_rae', 'carotene_alpha', 'carotene_beta',
       'cryptoxanthin_beta', 'lutein_zeaxanthin', 'lucopene', 'vitamin_b12',
       'vitamin_b6', 'vitamin_c', 'vitamin_d', 'vitamin_e', 'tocopherol_alpha',
       'vitamin_k', 'calcium', 'copper', 'irom', 'magnesium', 'manganese',
       'phosphorous', 'potassium', 'selenium', 'zink', 'protein', 'alanine',
       'arginine', 'aspartic_acid', 'cystine', 'glutamic_acid', 'glycine',
       'histidine', 'hydroxyproline', 'isoleucine', 'leucine', 'lysine',
       'methionine', 'phenylalanine', 'proline', 'serine', 'threonine',
       'tryptophan', 'tyrosine', 'valine', 'carbohydrate', 'fiber', 'sugars',
       'fructose', 'galactose', 'glucose', 'lactose', 'maltose', 'sucrose',
       'fat', 'saturated_fatty_acids', 'monounsaturated_fatty_acids',
       'polyunsaturated_fatty_acids', 'fatty_acids_total_trans', 'alcohol',
       'ash', 'caffeine', 'theobromine', 'water'],
      dtype='object')

In [13]:
# display the number of unique values in each categorical column

# set up a list of only the `object` dtypes
object_columns = nutrition.select_dtypes(include=['object']).columns

# iterate thru list and print unique() for each
for column in object_columns:
    unique_count = nutrition[column].nunique()
    print(f"There are {unique_count} different values in `{column}`.")

There are 8789 different values in `name`.
There are 1 different values in `serving_size`.
There are 176 different values in `total_fat`.
There are 156 different values in `saturated_fat`.
There are 313 different values in `cholesterol`.
There are 1245 different values in `sodium`.
There are 1197 different values in `choline`.
There are 374 different values in `folate`.
There are 259 different values in `folic_acid`.
There are 3818 different values in `niacin`.
There are 1479 different values in `pantothenic_acid`.
There are 838 different values in `riboflavin`.
There are 914 different values in `thiamin`.
There are 1341 different values in `vitamin_a`.
There are 566 different values in `vitamin_a_rae`.
There are 215 different values in `carotene_alpha`.
There are 582 different values in `carotene_beta`.
There are 144 different values in `cryptoxanthin_beta`.
There are 541 different values in `lutein_zeaxanthin`.
There are 694 different values in `vitamin_b12`.
There are 988 different values in `vitamin_b6`.
There are 562 different values in `vitamin_c`.
There are 242 different values in `vitamin_d`.
There are 564 different values in `vitamin_e`.
There are 564 different values in `tocopherol_alpha`.
There are 513 different values in `vitamin_k`.
There are 560 different values in `calcium`.
There are 810 different values in `copper`.
There are 952 different values in `irom`.
There are 314 different values in `magnesium`.
There are 1253 different values in `manganese`.
There are 642 different values in `phosphorous`.
There are 904 different values in `potassium`.
There are 644 different values in `selenium`.
There are 941 different values in `zink`.
There are 2664 different values in `protein`.
There are 1755 different values in `alanine`.
There are 1888 different values in `arginine`.
There are 2288 different values in `aspartic_acid`.
There are 499 different values in `cystine`.
There are 2983 different values in `glutamic_acid`.
There are 1665 different values in `glycine`.
There are 1207 different values in `histidine`.
There are 370 different values in `hydroxyproline`.
There are 1498 different values in `isoleucine`.
There are 2182 different values in `leucine`.
There are 2133 different values in `lysine`.
There are 955 different values in `methionine`.
There are 1375 different values in `phenylalanine`.
There are 1587 different values in `proline`.
There are 1389 different values in `serine`.
There are 1431 different values in `threonine`.
There are 466 different values in `tryptophan`.
There are 1229 different values in `tyrosine`.
There are 1627 different values in `valine`.
There are 3322 different values in `carbohydrate`.
There are 252 different values in `fiber`.
There are 1917 different values in `sugars`.
There are 409 different values in `fructose`.
There are 52 different values in `galactose`.
There are 410 different values in `glucose`.
There are 204 different values in `lactose`.
There are 217 different values in `maltose`.
There are 468 different values in `sucrose`.
There are 2422 different values in `fat`.
There are 3951 different values in `saturated_fatty_acids`.
There are 4010 different values in `monounsaturated_fatty_acids`.
There are 2898 different values in `polyunsaturated_fatty_acids`.
There are 314 different values in `fatty_acids_total_trans`.
There are 49 different values in `alcohol`.
There are 689 different values in `ash`.
There are 62 different values in `caffeine`.
There are 154 different values in `theobromine`.
There are 4282 different values in `water`.

In [14]:
# check for missing values
missing_values = nutrition.isnull().sum()

# calculate missing value counts for those columns where missing values are greater than zero
missing_values_df = pd.DataFrame(missing_values[missing_values > 0], columns=['Count Missing'])

# calculate the percentage of missing values for each column
missing_pct = ((missing_values / nutrition.shape[0] * 100).round(3))

# add missing count and percent to table
missing_values_df["% Missing"] = missing_pct

# check if there are no missing values, and print a message if that's the case
if missing_values_df.empty:
    print("There are no missing values.")
else:
    # display the table if there are missing values
    display(missing_values_df)

               Count Missing  % Missing
saturated_fat           1590     18.091

In [17]:
# check for duplicate rows
duplicate_rows = nutrition.duplicated().sum()
print("There are " + str(duplicate_rows) + " duplicate row(s).\n")

# get a boolean series indicating which rows are duplicates (including the original rows)
duplicate_mask = nutrition.duplicated(keep=False)

# use mask to filter and display both the original and duplicate rows
duplicate_rows_df = nutrition[duplicate_mask]
duplicate_rows_df

There are 0 duplicate row(s).

Empty DataFrame
Columns: [Unnamed: 0, name, serving_size, calories, total_fat, saturated_fat, cholesterol, sodium, choline, folate, folic_acid, niacin, pantothenic_acid, riboflavin, thiamin, vitamin_a, vitamin_a_rae, carotene_alpha, carotene_beta, cryptoxanthin_beta, lutein_zeaxanthin, lucopene, vitamin_b12, vitamin_b6, vitamin_c, vitamin_d, vitamin_e, tocopherol_alpha, vitamin_k, calcium, copper, irom, magnesium, manganese, phosphorous, potassium, selenium, zink, protein, alanine, arginine, aspartic_acid, cystine, glutamic_acid, glycine, histidine, hydroxyproline, isoleucine, leucine, lysine, methionine, phenylalanine, proline, serine, threonine, tryptophan, tyrosine, valine, carbohydrate, fiber, sugars, fructose, galactose, glucose, lactose, maltose, sucrose, fat, saturated_fatty_acids, monounsaturated_fatty_acids, polyunsaturated_fatty_acids, fatty_acids_total_trans, alcohol, ash, caffeine, theobromine, water]
Index: []

[0 rows x 77 columns]