# Nutritional values for common foods and products
Source: https://www.kaggle.com/datasets/trolukovich/nutritional-values-for-common-foods-and-products  
(this is the smaller dataset)

### Questions
1. What

In [2]:
import pandas as pd
# create dataframe
nutrients = pd.read_csv("nutrients_csvfile.csv")
# display a preview
nutrients.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products
2,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products
3,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products
4,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,119,Dairy products

In [3]:
print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\nThere are " + str(nutrients.shape[1]) + " columns and " + str(nutrients.shape[0]) + " rows.\n~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
There are 10 columns and 335 rows.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [4]:
nutrients.dtypes

Food        object
Measure     object
Grams       object
Calories    object
Protein     object
Fat         object
Sat.Fat     object
Fiber       object
Carbs       object
Category    object
dtype: object

In [5]:
nutrients.describe()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
count,335,335,335,334,335,335,333,335,335,335
unique,329,61,103,152,40,45,38,57,80,16
top,Butter,1 cup,100,100,1,t,0,0,0,"Breads, cereals, fastfood,grains"
freq,3,120,38,14,53,115,174,116,45,45

In [6]:
# Display the number of uniques for each categorical column, where it makes sense
print("There are " + str(nutrients['Food'].nunique()) + " different food names in `Food`. ")
print("There are " + str(nutrients['Measure'].nunique()) + " different measures in `Measure`. ")
print("There are " + str(nutrients['Grams'].nunique()) + " different gram values in `Grams`. ")
print("There are " + str(nutrients['Calories'].nunique()) + " different calorie values in `Calories`. ")
print("There are " + str(nutrients['Protein'].nunique()) + " different protein values in `Protein`. ")
print("There are " + str(nutrients['Fat'].nunique()) + " different fat values in `Fat`. ")
print("There are " + str(nutrients['Sat.Fat'].nunique()) + " different saturated fat values in `Sat.Fat`. ")
print("There are " + str(nutrients['Fiber'].nunique()) + " different fiber values in `Fiber`. ")
print("There are " + str(nutrients['Carbs'].nunique()) + " different carb values in `Carbs`. ")
print("There are " + str(nutrients['Category'].nunique()) + " different categories in `Category`. ")

There are 329 different food names in `Food`.
There are 61 different measures in `Measure`.
There are 103 different gram values in `Grams`.
There are 152 different calorie values in `Calories`.
There are 40 different protein values in `Protein`.
There are 45 different fat values in `Fat`.
There are 38 different saturated fat values in `Sat.Fat`.
There are 57 different fiber values in `Fiber`.
There are 80 different carb values in `Carbs`.
There are 16 different categories in `Category`.

In [7]:
# check for missing values
missing_values = nutrients.isnull().sum()

# calculate missing value counts for those columns where missing values are greater than zero
missing_values_df = pd.DataFrame(missing_values[missing_values > 0], columns=['Count Missing'])

# calculate the percentage of missing values for each column
missing_pct = ((missing_values / nutrients.shape[0] * 100).round(3))

# add missing count and percent to table
missing_values_df["% Missing"] = missing_pct

# check if there are no missing values, and print a message if that's the case
if missing_values_df.empty:
    print("There are no missing values.")
else:
    # display the table if there are missing values
    display(missing_values_df)

          Count Missing  % Missing
Calories              1      0.299
Sat.Fat               2      0.597

In [12]:
# check for duplicate rows
duplicate_rows = nutrients.duplicated().sum()
print("There are " + str(duplicate_rows) + " duplicate row(s).\n")

# get a boolean series indicating which rows are duplicates (including the original rows)
duplicate_mask = nutrients.duplicated(keep=False)

# use mask to filter and display both the original and duplicate rows
duplicate_rows_df = nutrients[duplicate_mask]
duplicate_rows_df

There are 0 duplicate row(s).

Empty DataFrame
Columns: [Food, Measure, Grams, Calories, Protein, Fat, Sat.Fat, Fiber, Carbs, Category]
Index: []

# questions
1. What